.main {
  display: grid;
  padding: 20px;
  grid-template-columns: 3fr 2fr;
  gap: 10px;
}
.product-container {
  border: 1px solid purple;
  padding: 10px;
}
.cart-container {
  border: 1px solid gray;
  padding: 10px;
  background-color: #544bb318;
  position: sticky;
  top: 0px;
  height: 90vh;
}
