.main {
  display: grid;
  padding: 20px;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
  background-color: #544bb318;
}
.product-container {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: center;
  text-align: center;
}
.cart-container {
  padding: 20px 10px;
  position: sticky;
  top: 0px;
  height: 90vh;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.664);
  border-radius: 8px;
}

.cart-container h3 {
  margin: 0;
  margin-bottom: 20px;
}
.carts-btn {
  margin: 20px 0;
}
.choose-btn,
.choose-again {
  padding: 10px;
  border: 1px solid #534bb3;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}
.choose-btn {
  background-color: rgba(127, 255, 212, 0.486);
}
.choose-again {
  background-color: rgba(160, 14, 14, 0.363);
}
.error {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: red;
  padding: 15px;
  border-radius: 8px;
}
/* ipad resposive design  */
@media screen and (max-width: 768px) {
  .main {
    padding: 10px;
  }
  .product-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
  .carts-btn {
    margin: 10px 0;
  }
}
/* mobile responsive design  */
@media screen and (max-width: 576px) {
  .main {
    grid-template-columns: 1fr;
  }
  .product-container {
    grid-template-columns: 1fr;
  }
}
