.card {
  background-color: #ffff;
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.664);
}
.product-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  background-color: #443e883a;
  border-radius: 8px 8px 0 0;
}
.card-info {
  padding: 20px 0;
}
.card-info h3 {
  margin: 0;
  font-size: 2em;
  color: #534bb3;
}
.card-info p {
  color: rgba(39, 38, 38, 0.842);
}
.card-info button {
  padding: 10px 25px;
  border-radius: 6px;
  border: 1px solid #534bb3;
  outline: 0;
  font-weight: 600;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
.card-info button:hover {
  background-color: #534bb3;
}
